h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:brown;
}
.dark_mode{
    color: white;
    background-color:black;
}

.light_mode{
    color: black;
    background-color: white;
}
button{
    border-radius:25%;
    height:3rem;
    width:8rem;
    color:pink;
    background-color:green;
}
    
