h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:brown;
}
.mode{
    color:red;
    background-color:green;
    
}

.dark_mode{
    color: white;
    background-color: black;
}

.light_mode{
    color: black;
    background-color: white;
}

