.dark_mode{
    color: white;
    background-color: black;
}

.light_mode{
    color: black;
    background-color: white;
}
h6{
    text-align:ceter;
    color:yellow;
}
h5{
    text-align:center;
    color:pink;
}
