h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:brown;
}

button{
    color:green;
    background-color:yellow;
}

.dark_mode{
    color: white;
    background-color:black;
}

.light_mode{
    color: black;
    background-color: white;
}

