h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:yellow;
}

.dark_mode{
    color: white;
    background-color: black;
}

.light_mode{
    color: black;
    background-color: white;
}

