h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:brown;
}
.dark_mode{
    color: white;
    background-color:black;
}

.light_mode{
    color: black;
    background-color: white;
}
button{
    border-radius:10%;
    height:3rem;
    width:5rem;
    background-color:green;
    border:0.5rem black solid;
}
    
