h3{
    text-align:center;
    color:Blue;
}
p{
    text-align:center;
    color:brown;
}
.dark_mode{
    color: white;
    background-color:black;
}

.light_mode{
    color: black;
    background-color: white;
}
button{
    border-radius:10%;
    height:10rem;
    width:35rem;
    color:pink;
    background-color:green;
}
    
